/// Font

$mainFont:IRANSans;
$fontSize:13px;
$fontWeight:normal;

/// Color

$white:#FFFFFF;

$dark100:#505050;
$dark200:#BEBEBE;
$dark300:#1A1A1A;

$gray100:#DBDBDB;
$gray200:#F5F5F5;
$gray300:#707070;
$gray400:#D5D5D5;


$green100:#0CCF93;

$blue100:#1AB6CE;
$blue200:#121540;

$yellow100:#FFC156;

$red100:#FF5656;
$red200:#F35959;


$graybg:#919295;

$border-Color:#DFE7F3;

$textColor:#4D5A68;

$darkBg:#15182B;

$light-Bg:#F0F6FF;

$white:#FFFFFF;

$info-Dark:#218EF0;

$info:#399AF2;

$info-light:#51A6F4;

$warning-Dark:#FFC64E;

$warning:#FFCE67;

$warning-light:#FFD681;

$danger-Dark:#FF435F;

$danger:#FF5C75;

$danger-light:#FF768B;

$success-Dark:#2AAB8F;

$success:#2FBFA0;

$success-light:#39CEAE;

$secondary-Dark:#687FAB;

$secondary:#788DB4;

$secondary-light:#889BBD;

$primary-Dark:#514CB7;

$primary:#635EBE;

$primary-light:#7570C5;

